version: 0.1
interfaces:
  webserver:
    keyfile: /opt/joola/bin/config/certs/server.key
    certfile: /opt/joola/bin/config/certs/server.crt
stores:
  config:
    redis:
      host: 6379
  datastore:
      mongodb:
        enabled: true
        host: mongodb://localhost:27017/joola
#      elasticsearch:
#        enabled: true
#        host: localhost:9200
workspaces:
  demo:
    key: demo
    name: Demo Workspace
    description: A starter/playground workpsace
    roles:
      root:
        key: "root"
        permissions:
          - "superuser"
          - "workspaces:list"
          - "workspaces:get"
          - "workspaces:add"
          - "workspaces:patch"
          - "workspaces:delete"
          - "config:get"
          - "config:set"
          - "permissions:list"
          - "permissions:get"
          - "collections:list"
          - "collections:get"
          - "collections:add"
          - "collections:patch"
          - "collections:delete"
          - "collections:metadata"
          - "collections:mindate"
          - "collections:maxdate"
          - "collections:stats"
          - "dimensions:list"
          - "dimensions:add"
          - "dimensions:get"
          - "dimensions:patch"
          - "dimensions:delete"
          - "metrics:list"
          - "metrics:add"
          - "metrics:get"
          - "metrics:patch"
          - "metrics:delete"
          - canvases:list
          - canvases:add
          - canvases:get
          - canvases:patch
          - canvases:delete
          - "roles:list"
          - "roles:get"
          - "roles:add"
          - "roles:patch"
          - "roles:delete"
          - "users:list"
          - "users:get"
          - "users:add"
          - "users:patch"
          - "users:delete"
          - "users:generateToken"
          - "users:validateToken"
          - "users:expireToken"
          - "users:permissions"
          - "beacon:insert"
          - "query:fetch"
          - "query:stop"
          - "system:nodeuid"
          - "system:nodedetails"
          - "system:terminate"
          - "system:purgeCache"
          - "system:roundtrip"
          - "system:whoami"
          - "system:version"
          - "system:usage"
          - "usage:last_write"
          - "usage:last_read"
          - "usage:last_use"
          - "misc:see_private"
        filter: []
      user:
        key: "user"
        permissions:
          - "guest"
        filter: []
      beacon:
        key: "user"
        permissions:
          - "beacon:insert"
          - "query:fetch"
          - "query:stop"
          - "system:version"
        filter: []
      reader:
        key: "user"
        permissions:
          - "beacon:insert"
          - "query:fetch"
          - "query:stop"
          - "system:version"
        filter: []
    users:
      root:
        username: "root"
        password: "password"
        roles:
          - "root"
        displayName: "Administrator"
        APIToken: "apitoken-demo"
        ratelimit: 9999999999
        filter: []
      beacon:
        username: "beacon"
        password: "password"
        roles:
          - "beacon"
        displayName: "Beacon"
        APIToken: "apitoken-beacon"
      reader:
        username: "reader"
        password: "password"
        roles:
          - "reader"
        displayName: "Reader"
        APIToken: "apitoken-reader"
    collections:
